.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter-chip {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  gap: 5px;
}

.delete {
  display: flex;
  flex-direction: column;
}

.add {
  display: flex;
  flex-direction: column;
}

.username {
  padding: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  padding: 5px;
  width: 200px;
}

.text {
  align-content: center;
}

.usernameCbb {
  width: 200px;
  padding: 10px;
}

.pagination {
  margin-left: 45%;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.pageNo {
  align-content: center;
}
